.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  position: relative;
}

.wrapperCircle {
  width: 90vmin;
  height: 90vmin;
  border: 2px solid darkgray;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.secondLevelCircle {
  width: 75vmin;
  height: 75vmin;
  background-color: #9acbcc;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.firstLevelCircle {
  width: 55vmin;
  height: 55vmin;
  background-color: #007171;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.secondLevelCircleImages {
  position: absolute;
  z-index: 2;
  --angle: 0;
  transform: rotate(calc(var(--angle) * 1deg)) translate(calc(75vmin / 2))
    rotate(calc(var(--angle) * -1deg));
}

.firstLevelCircleImages {
  position: absolute;
  z-index: 2;
  --angle: 0;
  transform: rotate(calc(var(--angle) * 1deg)) translate(calc(55vmin / 2))
    rotate(calc(var(--angle) * -1deg));
}

.line {
  position: absolute;
  z-index: 1;
  /*  Draw a line of 10px thick according to these variables */
  /* --angle */
  /* --length */
  /* --parentCenterX */
  /* --parentCenterY */
  width: calc(var(--length) * 1px);
  height: 5px;
  background-color: black;
  transform: rotate(calc(var(--angle) * 1rad))
    translate(calc(var(--length) * 0.5px), 0);
  top: calc(var(--parentCenterY) * 1px - 5px);
  left: calc(var(--parentCenterX) * 1px - var(--length) * 0.5px);
  display: flex;
}

.relationType {
  width: 100%;
}

.colorCodingListWrapper {
  position: absolute;
  right: 2rem;
  bottom: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.colorCodingListTitle {
  text-transform: uppercase;
}

.colorCodingListItem {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.colorCodingListItemColor {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
}

.colorCodingListItemName {
  text-transform: capitalize;
}
